################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cSharpLearning-AsyncAwait/.vs/cSharpLearning-AsyncAwait/v15/Server/sqlite3
